.father{
    background-color: #fffc;
    padding: 10px;
    margin: 20px;
    max-width: 1500px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3px;
    justify-content: space-around;
}