.navVar{
    background-color: #fff9;
    top: 0;
    padding: 10px;
    width: 100%;
    position: sticky;
    z-index:10000 ;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
}

a{
    text-decoration: none;
    padding: 3px;
}

.logoNav{
    height: 40px;
    width: auto;
    display: flex;
}
.linkNav{
    background-color: #3b3a218c;
    text-decoration: none;
    color: #000;
    margin: 3px;
    padding: 5px;
}
.linkNav:focus{
    outline:2px solid #3a3a30;
    text-decoration: underline;
}
.icon{
  
    height: 40px;
    width: auto;
}