.father{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    max-width: 1500px;

}
.container{
    width: 50%;
    background-color: rgba(247, 234, 217, 0.733);
    text-align: center;
    font-size: 18px;
}

.label{
    margin-top: 5px;
}

.link{
    display: block;
    box-sizing: content-box;
    text-indent: 2px;
    letter-spacing: 1px;
    
}
.authCont{
    margin-top: 20px;
}


.img{
    width: 50%;
}